.AddSpot .mapboxgl-canvas-container.mapboxgl-interactive,
.AddSpot .mapboxgl-canvas-container.mapboxgl-interactive:active {
  cursor: crosshair;
}

.AddSpot p {
  font-size: 18px;
}

.AddSpot .map-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddSpot .half-map-form-container {
  flex: 1;
  margin: 10px;
}

.AddSpot .add-map-container {
  border-radius: 10px;
}

.AddSpot .form-container {
  padding-left: 10px;
  background-color: #ddd;
  text-align: left;
  border-radius: 10px;
}

.AddSpot .add-instructions {
  font-size: 16px;
  margin: 10px;
}

.AddSpot textarea {
  width: 95%;
  height: 65px;
  padding: 20px;
  resize: none;
}

.AddSpot input[type='text'],
.AddSpot textarea,
.AddSpot select {
  display: block;
  padding: 4px 2px;
  margin: 2px 0 12px 10px;
}

.AddSpot input[type='select'] {
  margin: 2px 0 30px 10px;
}

.AddSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.AddSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.AddSpot .tags-container,
.AddSpot .youtube-links-container {
  height: 20px;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}

.AddSpot input[name='tag'],
.AddSpot input[name='youtube-link'] {
  margin-top: 12px;
}

.AddSpot input[name='youtube-link'] {
  width: 300px;
}

.AddSpot .tag-directions,
.AddSpot .youtube-directions {
  font-size: 14px;
}

.AddSpot input[type='submit'],
.AddSpot input[type='file'] {
  display: block;
}

.AddSpot input[type='submit'] {
  margin: 20px 0 10px 0;
}