.AddSpot .mapboxgl-canvas-container.mapboxgl-interactive,
.AddSpot .mapboxgl-canvas-container.mapboxgl-interactive:active {
  cursor: crosshair;
}

.AddSpot p {
  font-size: 18px;
}

.AddSpot .form-container,
.AddSpot .add-map-container {
  display: inline-block;
}

.AddSpot .add-map-container {}

.AddSpot .form-container {
  background-color: #ddd;
  width: 350px;
  height: 600px;
  margin: 10px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.AddSpot .add-instructions {
  font-size: 16px;
}

.AddSpot textarea {
  width: 90%;
  height: 65px;
  padding: 20px;
  resize: none;
}

.AddSpot input[type='text'],
.AddSpot textarea,
.AddSpot select {
  display: block;
  padding: 4px 2px;
  margin: 2px 0 12px 10px;
}

.AddSpot input[type='select'] {
  margin: 2px 0 30px 10px;
}

.AddSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.AddSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.AddSpot input[name='tag'] {
  margin-top: 8px;
}

.AddSpot .tag-directions {
  font-size: 14px;
}