.EditSpot h2 {
  margin-top: 50px;
}

.EditSpot p {
  font-size: 14px;
}

.EditSpot .form-container {
  width: 575px;
  margin: 0 auto 30px auto;
  padding: 10px;
  background-color: #ddd;
  text-align: left;
  border-radius: 10px;
}

.EditSpot .add-instructions {
  font-size: 16px;
  margin: 10px;
}

.EditSpot textarea {
  width: 95%;
  height: 65px;
  padding: 20px;
  resize: none;
}

.EditSpot .block-input,
.EditSpot textarea,
.EditSpot select {
  display: block;
  padding: 4px 2px;
  margin: 2px 0 12px 10px;
}

.EditSpot input[type='select'] {
  margin: 2px 0 30px 10px;
}

.EditSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.EditSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.EditSpot .tags-container {
  height: 20px;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}

.EditSpot input[name='tag'] {
  margin-top: 12px;
}

.EditSpot input[name='currYoutube'] {
  width: 375px;
}

.EditSpot .tag-directions,
.EditSpot .youtube-directions {
  font-size: 14px;
}

.EditSpot button {
  margin: 5px;
}

.EditSpot input[type='submit'] {
  display: block;
  margin: 5px auto;
}