.EditSpot h2 {
  margin-top: 50px;
}

.EditSpot p {
  font-size: 14px;
}

.EditSpot .form-container {
  width: 575px;
  margin: 0 auto 30px auto;
  padding: 10px;
  background-color: #ddd;
  text-align: left;
  border-radius: 10px;
}

.EditSpot .add-instructions {
  font-size: 16px;
  margin: 10px;
}

.EditSpot .directions {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #eee;
  padding: 5px;
  width: 90%;
  margin: 10px auto;
}

.EditSpot textarea {
  width: 95%;
  height: 65px;
  padding: 20px;
  resize: none;
}

.EditSpot .block-input,
.EditSpot textarea,
.EditSpot select {
  display: block;
  padding: 4px 2px;
  margin: 2px 0 12px 10px;
}

.EditSpot .name-input {
  width: 50%;
}

.EditSpot input[type='select'] {
  margin: 2px 0 30px 10px;
}

.EditSpot input[type='radio'] {
  margin: 2px 0 12px 10px;
}

.EditSpot .skate-stopped-container {
  height: 10px;
  padding: 8px 0 0 5px;
}

.EditSpot .tags-container {
  height: 20px;
  width: 100%;
  display: inline-block;
  margin: 2px 0 5px 5px;
}

.EditSpot input[name='tag'] {
  margin-top: 12px;
}

.EditSpot input[name='currYoutube'] {
  margin-left: 10px;
  width: 70%;
}

.EditSpot .add-youtube-button {
  margin-left: 10px;
}

.EditSpot .tag-directions,
.EditSpot .youtube-directions {
  font-size: 14px;
}

.EditSpot button {
  margin: 5px;
}

.EditSpot input[type='submit'] {
  display: block;
  margin: 5px auto;
}