.Nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ddd;
  height: 40px;
  border-bottom: 2px solid #000;
  font-size: 24px;
  line-height: 35px;
}

.Nav h1 {
  font-size: 30px;
  position: fixed;
  top: -23px;
}

.Nav a {
  padding: 8px;
  color: #000;
}

.Nav a:link {
  text-decoration: none;
}

.Nav a:visited {
  text-decoration: none;
}

.Nav a:hover {
  background-color: #bbb;
}

.Nav a.active {
  background-color: aqua;
}
