.Nav {
  background-color: #ddd;
  height: 40px;
  border-bottom: 2px solid #000;
  font-size: 24px;
  line-height: 35px;
}

a {
  padding: 8px;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-color: #bbb;
}

a.active {
  background-color: aqua;
}