.SpotsMap img:hover {
  cursor: pointer;
}

.SpotsMap h3 {
  font-size: 22px;
}

.SpotsMap p {
  font-size: 14px;
}

.SpotsMap .popup {
  text-align: left;
}

.SpotsMap .spot-image {
  width: 225px;
}

.SpotsMap .spot-image:hover {
  cursor: default;
}