.SpotsListPublic h2 {
  margin-top: 50px;
}

.SpotsListPublic .search-container {
  font-size: 20px;
  margin-bottom: 20px;
}

.SpotsListPublic .tag-search {
  font-size: 20px;
  margin-left: 6px;
}

.SpotsListPublic .single-spot {
  font-size: 20px;
  margin-bottom: 12px;
}

.SpotsListPublic .table-container {
  text-align: center;
  margin: 0 auto;
}

.SpotsListPublic table {
  width: 1000px;
  text-align: left;
  margin: 0 auto;
  border: 1px solid #000;
  border-collapse: collapse;
}

.SpotsListPublic table,
th,
td {
  border: 1px solid #000;
}

.SpotsListPublic table th {
  text-align: center;
}

.SpotsListPublic table td {
  padding: 5px 10px 5px 10px;
}
